# Sistema
.DS_Store
*.log
*.env

# Python
__pycache__/
*.py[cod]
*.sqlite3
*.db

# Streamlit
.streamlit/

# Dados locais de carteira
carteira.json
carteira_*.json

# Ambiente virtual
venv/
venv/
.venv/
__pycache__/
.DS_Store
*.tar.gz
setuptools-*/
